# Set the station name: to be used internally in the site library functions
station = "CVE";

# Global variable defaults for site operation
backward = 0;
xcf      = 1;
sbm      = 0;
ebm      = 23;
rnum     = 1;
cnum     = 2;
day      = 15;
night    = 3;
dfrq     = 14700;
nfrq     = 10400;
nrang    = 100;
invert   = 1;
rxchn    = 1;
smsep    = 300;
match_filter = 1;

ros:
{
  host = "127.0.0.1";
  port = 45000;
}

errlog:
{
  host = "127.0.0.1";
  port = 42000;
}

shell:
{
  host = "127.0.0.1";
  port = 42001;
}

task:
{
  host = "127.0.0.1";
  baseport = 42100;
}
